<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>Sketch to Photo</title>
<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<style>
#textBox {
    display : inline;
    padding-left : 120px;
    font-size : 32px;
    font-weight : bold;
}
</style>
</head>
<body>
    <h1>Sketch to Photo</h1>
    <form method='post' action="/predict" enctype="multipart/form-data">
        <input type="file" name="img" id="img" accept="image/*" class="upload-box upload-plus">
        <br>
        <input type="submit" id="button" value="이미지 업로드"/>
    </form>
    <div id="image_container"></div>
    {% if fake_img %}
        <img src="{{ url_for('static', filename=fake_img) }}?v=1.1">
    {% endif %}   
    <br>
    {% if name and label %}
        <div id="textBox"> {{ label }}일 확률이 {{ percentage }} % 입니다.</div>
    {% endif %} 
</body>
    <script>
        function setThumbnail(event) { 
            var input = this;
            if (input.files && input.files.length) {
                var reader = new FileReader();
                this.enabled = false
                reader.onload = (function (e) {
                    $("div#image_container").html(['<img class="thumb" src="', e.target.result, '" title="', escape(e.name), '" style="widht:300px; height:300px;" />'].join(''))
                });
            reader.readAsDataURL(input.files[0]);
            }
        }
        $('#img').change(setThumbnail);
    </script>
</html>

